.item {
  background-color:aqua;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  color: black;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
}

a {
  text-decoration: none;
}

.sidebar {
  background-color: #2F3136;
}

#content-wrapper {
  background-color: #2F3136;
  min-height: 100vh;
  color: white;
}

.card-header {
  background-color: #1C2023 !important;
}

.card-header .nav {
  background-color: #1C2023 !important;
}

.nav-pills .active {
  border-radius: 0px !important;
  background-color: orange !important;
}

#left-sidebar {
  min-height: 100vh;
  background-color: #1C2023;
  padding: 0px;
  border-radius: 0px !important;
}

.avatar-small {
  height: 40px;
}